pix2pix/model.png
pix2pix/logs/fit/20210909-160854/events.out.tfevents.1631171334.user.7909.0.v2
pix2pix/training_checkpoints/checkpoint
pix2pix/training_checkpoints/ckpt-1.data-00000-of-00001
pix2pix/training_checkpoints/ckpt-1.index
pix2pix/training_checkpoints/ckpt-2.data-00000-of-00001
pix2pix/training_checkpoints/ckpt-2.index
pix2pix/training_checkpoints/ckpt-3.data-00000-of-00001
pix2pix/training_checkpoints/ckpt-3.index
pix2pix/training_checkpoints/ckpt-4.data-00000-of-00001
pix2pix/training_checkpoints/ckpt-4.index
pix2pix/training_checkpoints/ckpt-5.data-00000-of-00001
pix2pix/training_checkpoints/ckpt-5.index
pix2pix/training_checkpoints/ckpt-6.data-00000-of-00001
pix2pix/training_checkpoints/ckpt-6.index
pix2pix/training_checkpoints/ckpt-7.data-00000-of-00001
pix2pix/training_checkpoints/ckpt-7.index
pix2pix/training_checkpoints/ckpt-8.data-00000-of-00001
pix2pix/training_checkpoints/ckpt-8.index
